@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27');
	
	.h4{
		font-weight: bold;
		color: white;
	}

	.cardboxes{
		color: white;
		/*background-color: rgb(28, 129, 211, 60%);*/
		background-color: rgb(0, 0, 0, 50%);
		/*rgb(0 0 0 / 52%)*/
		 border-radius: 10px; 
		/*font-family: 'Roboto Condensed', sans-serif;*/
		box-shadow: 3px 4px 3px 1px rgb(0 0 0 / 29%);
		-webkit-box-shadow: 3px 4px 3px 1px rgb(0 0 0 / 29%);
		letter-spacing: 1px;
		/*border: 1px solid rgb(0 0 0 / 50%);*/
		font-family: 'Poppins', sans-serif;
	}

	.circle{
	    border-radius: 50%;
	    width: 60px;
	    height: 60px;
	    background-color: white;
  	}


  	.flex-container {
  	    display: flex;
  	}

  	.flex-child {
  	    flex: 1;
  	    margin-left: 3%;
  	    padding: 8px;
  	}  

  	.center {
		margin: auto;
		width: 50%;
		padding: 10px;
  	}

  	.modal-content{
  		/* background-color: #3c3c3c; */
  	}

  	/* .modal-header{
  		border-bottom: 0px solid #dee2e6!important;
		background-color: rgb(0 0 0 / 79%);
	  	color: white;
  	} */

  	.modal-header .bootbox-close-button{
	  	color: white;
  	}

  	.text-primary-custom{
  		color: #1C81D3;
  	}

  	.btn.dropdown-toggle{
  		height: calc(1.5em + 0.75rem + 2px);
  	    padding: 0.375rem 0.75rem;
  	    font-size: 1rem;
  	    font-weight: 400;
  	    line-height: 1.5;
  	    color: #495057;
  	    background-color: #fff;
		-webkit-background-clip:padding-box;
  	    background-clip: padding-box;
  	    border: 1px solid #ced4da;
  	    border-radius: 0.25rem;
  	}

  	#topNavBar{
  		font-size: 3vh;
	    cursor: pointer;
	    padding: 13px;
	    display: flex;
	    justify-content: space-between;
	    /* background: rgb(34 34 34); */
	    /* border-bottom-left-radius: 27px 20px; */
	    /* border-bottom-right-radius: 27px 20px; */
	    /* color: #D9E9E8; */
  	}

	 
	  #verify_btn {
		align-items: center;
		appearance: none;
		background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
		border: 0;
		border-radius: 12px;
		box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		display: inline-flex;
		font-family: "JetBrains Mono",monospace;
		height: 48px;
		justify-content: center;
		line-height: 1;
		list-style: none;
		overflow: hidden;
		padding-left: 16px;
		padding-right: 16px;
		position: relative;
		text-align: left;
		text-decoration: none;
		transition: box-shadow .15s,transform .15s;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		will-change: box-shadow,transform;
		font-size: 18px;
	  }
	  
	  #verify_btn:focus {
		box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35 , 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	  }
	  
	  #verify_btn:hover {
		box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
		transform: translateY(-2px);
	  }
	  
	  #verify_btn:active {
		box-shadow: #3c4fe0 0 3px 7px inset;
		transform: translateY(2px);
	  }
	  