	body{
		background-color: white;
		/* background-image: url('../../assets/imgs/1bg-2.jpg'); */
		background-repeat:no-repeat;
		background-size:400%;
		background-attachment: fixed;
		/*color: white;*/
		/*background-color: #f0f0f0;*/
		/*font-family: 'Roboto Condensed', sans-serif;*/
		font-size: 16px!important;
	}

	.h4{
		font-weight: bold;
		color: white;
	}

	.cardboxes{
		color: white;
		/*background-color: rgb(28, 129, 211, 60%);*/
		background-color: rgb(0, 0, 0, 50%);
		/*rgb(0 0 0 / 52%)*/
		 border-radius: 10px; 
		font-family: 'Roboto Condensed', sans-serif;
		box-shadow: 3px 4px 3px 1px rgb(0 0 0 / 29%);
		-webkit-box-shadow: 3px 4px 3px 1px rgb(0 0 0 / 29%);
		letter-spacing: 1px;
		/*border: 1px solid rgb(0 0 0 / 50%);*/
	}

	.circle{
	    border-radius: 50%;
	    width: 60px;
	    height: 60px;
	    background-color: white;
  	}


  	.flex-container {
  	    display: flex;
  	}

  	.flex-child {
  	    flex: 1;
  	    margin-left: 3%;
  	    padding: 8px;
  	}  

  	.center {
		margin: auto;
		width: 50%;
		padding: 10px;
  	}

  	.modal-content{
  		/* background-color: #3c3c3c; */
  	}

  	.modal-header{
  		border-bottom: 0px solid #dee2e6!important;
		background-color: rgb(0 0 0 / 79%);
	  	color: white;
  	}

  	.modal-header .bootbox-close-button{
	  	color: white;
  	}

  	.text-primary-custom{
  		color: #1C81D3;
  	}

  	.btn.dropdown-toggle{
  		height: calc(1.5em + 0.75rem + 2px);
  	    padding: 0.375rem 0.75rem;
  	    font-size: 1rem;
  	    font-weight: 400;
  	    line-height: 1.5;
  	    color: #495057;
  	    background-color: #fff;
  	    background-clip: padding-box;
  	    border: 1px solid #ced4da;
  	    border-radius: 0.25rem;
  	}

  	#topNavBar{
  		font-size: 3vh;
	    cursor: pointer;
	    padding: 13px;
	    display: flex;
	    justify-content: space-between;
	    /* background: rgb(34 34 34); */
	    /* border-bottom-left-radius: 27px 20px; */
	    /* border-bottom-right-radius: 27px 20px; */
	    /* color: #D9E9E8; */
  	}